.main {
	display: flex;
	justify-content: center;
	align-items: center;

	.main-header-box-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		.main-header-text {
			font-size: 34px;
		}
		.main-header-text-below {
			font-size: 20px;
		}
	}
}
