.trainig-page-box-button {
	width: 90%;
	margin-bottom: 80px;

	.trainig-page-button {
		border: none;
		border-radius: 4px;
		padding: 6px 18px;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		background-color: #b799ff;
		color: #fff;
		cursor: pointer;

		transition: opacity 0.3s;
		&:hover {
			opacity: 0.7;
		}
	}
}
.training-page {
	border: 1px solid #000;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;

	.trainig-page-title {
		font-size: 20px;
		font-weight: 500;
	}
	.trainig-page-date {
		font-size: 18px;
		font-weight: 400;
	}

	.trainig-paga-list-details {
		font-size: 16px;
		font-weight: 300;
	}
}
