.header {
	display: flex;
	justify-content: center;
	align-items: center;

	.current-user-box {
		font-size: 18px;
		padding: 10px;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

		.current-user-name {
			font-size: 12px;
			font-weight: 400;
		}
		.current-user-button {
			border: none;
			border-radius: 4px;
			padding: 5px 10px;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			background-color: #b799ff;
			color: #fff;
			cursor: pointer;

			transition: opacity 0.3s;
			&:hover {
				opacity: 0.7;
			}
		}
	}

	.nav {
		padding: 10px;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 2px;
		height: 50px;

		.menu {
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;

			.menu-link {
				transition: opacity 0.3s;

				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}
