@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
// https://colorhunt.co/palette/b799ffacbcffaee2ffe6fffd
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffff;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

main {
	min-height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
